<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/layout::head"></th:block>
    <title>Add New Product</title>
</head>
<body>
<header th:fragment="shop-user-header" id="header"><!--header-->

</header><!--/header-->
<!--Product productDB = new Product(product.getName(), product.getPrice(), product.getQuantity(), fileName, product.getDescription(), product.getCreateDate(), product.getViews(), product.getRating(), product.isStatus(), product.getShop(), product.getCategory());-->

<section id="form"><!--form-->
    <div class="container">
        <div class="row">

            <div class="col-sm-8">
                <div class="signup-form"><!--sign up form-->
                    <h2>New Product</h2>
                    <form method="post" th:object="${products}" enctype="multipart/form-data">
                        <input type="text" name="name" placeholder="Enter Name"/>
                        <input type="number" name="price" placeholder="Enter Price"/>
                        <input type="number" name="quantity" placeholder="Enter quantity"/>
                        <input type="file" name="productImage" placeholder="Enter productImage"/>
                        <textarea type="text" name="description" placeholder="Enter description"></textarea><br>
                        <select name="category" id="">
                            <option th:each="cate:${category}" th:value="${cate.categoryId}" th:text="${cate.name}"></option>
                        </select>
                   <button type="submit" class="btn btn-default">Signup</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->

<footer th:fragment="footer" id="footer"><!--Footer-->

</footer><!--/Footer-->

</body>
</html>