<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/layout::head"></th:block>
    <title>Product Details | E-Shopper</title>
</head><!--/head-->
<script>
    function img(){
        let img = document.getElementsByTagName("img");

        for (let i = 0; i<img.length; i++){
            let src = img[i].getAttribute("src");
            img[i].setAttribute("src","../../../"+src);
        }
    }
</script>
<body onload="img()">
<header th:replace="/layout::shop-user-header"><!--header--></header><!--/header-->
        <h1 th:text="${currentShop.getName()}"></h1>

<section>
    <div class="container">
        <div class="row">
            <div th:replace="/layout::shop-left-sidebar"></div>

            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img th:src="'../../../'+${product.getImage()}" alt=""/>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <img src="images/product-details/new.jpg" class="newarrival" alt=""/>
                            <h2 th:text="${product.getName()}">Anne Klein Sleeveless Colorblock Scuba</h2>
                            <p>Web ID: 1089772</p>
                            <img src="images/product-details/rating.png" alt=""/>
                            <span>
									<span th:text="${product.getPrice()}">US </span>
									<label>Quantity:</label>
									<input type="text" th:value="${product.getQuantity()}"/>

								</span>
                            <hr>
                            <button type="button" class="btn btn-fefault cart">
                                Edit product
                            </button>
                            <button type="button" class="btn btn-fefault cart">
                                Disable
                            </button>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">
                                <ul>
                                    <li><a href=""><i class="fa fa-user"></i>Shop name</a></li>
                                    <li><i class="fa fa-clock-o"></i>Create Date</li>
                                </ul>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure
                                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur.</p>
                            </div>
                        </div>

                    </div>
                </div><!--/category-tab-->
            </div>
        </div>
    </div>
</section>

<footer th:replace="/layout::footer"><!--Footer--></footer><!--/Footer-->


<script src="/js/jquery.js"></script>
<script src="/js/price-range.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>
</body>
</html>