<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/layout::head"></th:block>
    <title>Product Details | E-Shopper</title>
</head><!--/head-->
<script>
    function img() {
        let img = document.getElementsByTagName("img");
        for (let i = 0; i < img.length; i++) {
            let src = img[i].getAttribute("src");
            img[i].setAttribute("src", "../../../" + src);
        }
    }

    function editForm() {
        let form = document.getElementById("edit-form");
        if (form.getAttribute("style") == "display: block") {
            form.setAttribute("style", "display: none");
        } else {
            form.setAttribute("style", "display: block");
        }
    }
</script>
<body onload="img()">
<header th:replace="/layout::shop-user-header"><!--header--></header><!--/header-->

<section>
    <div class="container">
        <div class="row">
            <div th:replace="/layout::shop-left-sidebar"></div>

            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img th:src="'../../../'+${product.getImage()}" alt=""/>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information" id="edit-form" style="display: none"><!--sign up form-->
                            <form method="post" th:object="${product}" action="/products/edit"
                                  enctype="multipart/form-data">
                                <input type="hidden" name="id" th:value="${product.getProductId()}"
                                       th:field="*{productId}">
                                <label for="">Name:</label>
                                <input type="text" style="width: 200px" name="name" th:value="${product.getName()}"
                                       th:field="*{name}"/><br>
                                <span>
                                    <label>Price:</label>
									<input type="text" name="price" th:value="${product.getPrice()}" th:field="*{price}"
                                           style="width: 150px">
									<label>Quantity:</label>
									<input type="number" name="quantity" th:value="${product.getQuantity()}"/>
                                </span>
                                <input type="file" name="productImage" th:text="${product.getImage()}"/>

                                <br>
                                <label for="category">Category:</label>
                                <select name="category" id="category" th:field="*{category}">
                                    <option th:each="cate:${category}" th:value="${cate.categoryId}"
                                            th:text="${cate.name}"></option>
                                </select>
                                <br>
                                <labbel>Description:</labbel>
                                <textarea th:text="${product.getDescription()}" th:field="*{description}"></textarea>

                                <br><br>
                                <button type="submit" class="btn btn-fefault cart" onclick="editForm()">Save</button>
                            </form>
                        </div><!--/sign up form-->

                        <div class="product-information"><!--/product-information-->
                            <img src="images/product-details/new.jpg" class="newarrival" alt=""/>
                            <h2 th:text="${product.getName()}">Anne Klein Sleeveless Colorblock Scuba</h2>
                            <p th:text="${currentShop.getName()}"></p>
                            <img src="images/product-details/rating.png" alt=""/>
                            <span>
									<span th:text="${product.getPrice()}">US </span>
									<label>Quantity:</label>
									<input type="text" th:value="${product.getQuantity()}"/>
                            </span>
                            <hr>
                            <button type="button" class="btn btn-fefault cart" onclick="editForm()">Edit product
                            </button>
                            <a th:href="@{/products/delete/__${product.getProductId()}__}">
                                <button type="button" class="btn btn-fefault cart">Disable</button>
                            </a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->

                <div class="category-tab shop-details-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">
                                <ul>
                                    <li th:text="${product.getCreateDate()}"><i class="fa fa-clock-o"></i>Create Date</li>
                                </ul>
                                <p th:text="${product.getDescription()}"></p>
                            </div>
                        </div>

                    </div>
                </div><!--/category-tab-->
            </div>
        </div>
    </div>
</section>

<footer th:replace="/layout::footer"><!--Footer--></footer><!--/Footer-->


<script src="/js/jquery.js"></script>
<script src="/js/price-range.js"></script>
<script src="/js/jquery.scrollUp.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.prettyPhoto.js"></script>
<script src="/js/main.js"></script>
</body>
</html>